<div class="">
  <h2>Hallo zusammen!</h2>
  <p>
    Eine kurze Anleitug zum Abschliessen einer Challenge:
  </p>
  <ol>
    <li>Challenge absolvieren und ein Beweisfoto schiessen</li>
    <li>Foto über den Upload-Button auf der entsprechenden Challenge hochladen</li>
    <li>Prüfen ob sich das Foto nun in der Gallerie befindet und die Challenge als abgeschlossen markiert ist</li>
  </ol>
  <p>
    Nach den Ferien werden die Challengefotos überprüft und der entsprechende Betrag wird abgerechnet.
    <br>
    Eine aktuelle Übersicht befindet sich auf dem Dashboard unter Balance.
  </p>
</div>

